<app-navbar></app-navbar>

<div class="main">
  <h2>Collection</h2>

  <section class="main-container">
    <button [routerLink]="['/categories/categoryForm']">
      New Category
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>

    <article class="category">
      <a [routerLink]="['/products']" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>

    <article class="category">
      <a href="" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>

    <article class="category">
      <a href="" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>

    <article class="category">
      <a href="" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>

    <article class="category">
      <a href="" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>

    <article class="category">
      <a href="" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>

    <article class="category">
      <a href="" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>

    <article class="category">
      <a href="" class="see-apps">See apps <fa-icon [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>Title Category</h3>
        <p>this is a product description - this is a product description</p>
      </div>
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
    </article>
  </section>
</div>