<app-navbar></app-navbar>

<div class="main">
  <h2>Collection</h2>

  <section class="main-container">
    @if (rol === 'administrator') {
    <button [routerLink]="['/categories/categoryForm']">
      New Category
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
    } @for (item of listCategory; track item.id) {
    <article class="category" [ngStyle]="{ 'background-image': 'url(' + loadImage() + ')' }">
      <a class="see-apps" id="{{item.id}}" (click)="seeApps(item.id)">See apps <fa-icon
          [icon]="seeAppsIcon"></fa-icon></a>
      <div class="body-category">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
      </div>
      @if (rol === 'administrator') {
      <div class="icons">
        <a class="delIcon"><fa-icon [icon]="deleteIcon"></fa-icon></a>
        <a class="edIcon"><fa-icon [icon]="editIcon"></fa-icon></a>
      </div>
      }
    </article>
    }
  </section>
</div>