<div id="container">
    <div id="inner">
        <img src="../../../assets\Logo.png" alt="" id="logo">
        <h1 id="title">New Password</h1>
        <p>Input the information required below</p>
        <form id="form">
            <input type="password" name="password" [(ngModel)]="password" (input)="validPassword()"
                placeholder="New password">
            @if (error) {
            <p class="error">{{error}}</p>
            }
            <input type="password" name="password2" [(ngModel)]="repeatPassword" (input)="samePassword()"
                placeholder="Confirm new password">
            @if (error1) {
            <p class="error">{{error1}}</p>
            }
            <button type="button" (click)="updatePassword()">Change Password</button>
        </form>
        <div id="links">
            <a [routerLink]="['/login']">Go back to Login</a>
        </div>
    </div>
</div>