<app-navbar></app-navbar>
@if (showForm) {
<app-profile-form></app-profile-form>
} @else {
<div class="main">
    <div class="container">
        <img src="{{client.photoUrl}}" alt="">
        <p class="label">{{client.email}}</p>
        <div class="labels-container">
            <div class="labels-group">
                <p class="label">{{client.firstName + ' ' + client.secondName}}</p>
                <p class="label">{{client.lastName2}}</p>
            </div>
            <div class="labels-group">
                <p class="label">{{client.lastName1}}</p>
                <p class="label">ID: {{client.id}}</p>
            </div>
        </div>
        <p class="label-crtd">acount created at: {{client.createdAt?.slice(0,10)}}</p>
        @if (rol === 'client') {
        <button class="btn btn-edit" (click)="showForm=true"> <fa-icon [icon]="editIcon"></fa-icon></button>
        }
    </div>
</div>
}