<div id="container">
    <div id="inner">
        <h1 id="title">{{pageTitle}}</h1>
        <p>Input the information required below</p>
        @if (form.invalid) {
        <span class="error">There are missing or incorrect fields</span>
        }
        <form id="form" [formGroup]="form">

            <label for="title" class="form-input">Title: </label>
            <input type="text" name="title" formControlName="title" placeholder="Title..." required>
            @if (form.get('title')?.hasError('required') && form.get('title')?.touched) {
            <span class="error">*Required field*</span>
            }
            <label for="description" class="form-input">Description: </label>
            <textarea id="description" formControlName="description" name="description" rows="5" cols="33"
                placeholder="Description..." required></textarea>
            @if (form.get('description')?.hasError('required') && form.get('description')?.touched) {
            <span class="error">*Required field*</span>
            }
        </form>

        <div class="btns">
            <button type="discard" class="btn btnCancel" (click)="goBack()">Cancel <fa-icon class="btnIcon"
                    [icon]="xIcon"></fa-icon></button>
            @if (form.invalid) {
            <button [disabled]="[true]" type="button" class="btn disabled" (click)="saveData()">
                Save <fa-icon class="btnIcon" [icon]="diskIcon"></fa-icon>
            </button>
            }
            @else {
            <button type="save" class="btn" (click)="saveData()">Save <fa-icon class="btnIcon"
                    [icon]="diskIcon"></fa-icon></button>
            }
        </div>
    </div>
</div>