<app-navbar></app-navbar>

<main class="main">
  <article class="category">
    <section class="cat-info">
      <h2>Category Aplications</h2>
      <p>this is a product description - this is a product description</p>
    </section>
    <section class="filters">
      <button>
        Filter <span><fa-icon [icon]="filterCaret"></fa-icon></span>
      </button>
      <button>
        Sort by <span><fa-icon [icon]="filterCaret"></fa-icon></span>
      </button>
    </section>
  </article>

  <div class="products">
    @if (rol === 'administrator') {
    <button class="add-btn">
      New Product
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
    }

    <article class="wrapper">
      <section class="product-img">
        <img src="{{ photoshopImg }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">Adobe Photoshop</p>
        <p class="cats">Edition | Design | Pro</p>
        <p class="price">$99.99</p>
      </section>
    </article>
    <article class="wrapper">
      <section class="product-img">
        <img src="{{ photoshopImg }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">Adobe Photoshop</p>
        <p class="cats">Edition | Design | Pro</p>
        <p class="price">$99.99</p>
      </section>
    </article>
    <article class="wrapper">
      <section class="product-img">
        <img src="{{ photoshopImg }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">Adobe Photoshop</p>
        <p class="cats">Edition | Design | Pro</p>
        <p class="price">$99.99</p>
      </section>
    </article>
    <article class="wrapper">
      <section class="product-img">
        <img src="{{ photoshopImg }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">Adobe Photoshop</p>
        <p class="cats">Edition | Design | Pro</p>
        <p class="price">$99.99</p>
      </section>
    </article>
    <article class="wrapper">
      <section class="product-img">
        <img src="{{ photoshopImg }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">Adobe Photoshop</p>
        <p class="cats">Edition | Design | Pro</p>
        <p class="price">$99.99</p>
      </section>
    </article>
  </div>
</main>
