<app-navbar></app-navbar>

@if (showForm) {
<app-product-form></app-product-form>
}

<main class="main">
  <article class="category">
    <section class="cat-info">
      <h2>{{category.name}}</h2>
      <p>{{category.description}}</p>
    </section>
    <section class="filters">

      <div class="drop-down">
        <div class="inner-content">Filter
          <span class="material-icons icon"><fa-icon [icon]="filterCaret"></fa-icon></span>
        </div>
        <ul class="drop-down-list">
          <li class="drop-down-item">
            <form>
              <label>In stock <input name="stockCheck" type="checkbox" [(ngModel)]="isChecked"
                  (ngModelChange)="switchInstockCheck()"></label>
            </form>
          </li>
        </ul>
      </div>

      <div class="drop-down">
        <div class="inner-content">Sort by
          <span class="material-icons icon"><fa-icon [icon]="filterCaret"></fa-icon></span>
        </div>
        <ul class="drop-down-list">
          <li class="drop-down-item">
            <p>Lower Price</p>
          </li>
          <li class="drop-down-item">
            <p>higher Price</p>
          </li>
          <li class="drop-down-item">
            <p>A-Z</p>
          </li>
          <li class="drop-down-item">
            <p>Z-A</p>
          </li>
        </ul>
      </div>

    </section>
  </article>

  <div class="products">
    @if (role === 'administrator' && canAdd) {
    <button class="add-btn" (click)="addProduct()">
      New product
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
    }

    @for (item of productsList; track item.id; let i = $index) {
    @if (item.status) {
    <article class="wrapper" (click)="showProduct(item.name)">
      <section class="product-img">
        <img src="{{ item.image }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">{{item.name}}</p>
        <p class="cats">{{prodCatsList[i]}}</p>
      </section>
      @if (item.price !== 0) {
      <p class="price">${{item.price}}</p>
      } @else {
      <p class="price">Free</p>
      }
    </article>
    } @else if (!item.status && rol === 'administrator') {
    <article class="disabled" (click)="showProduct(item.name)">
      <p class="disabled-text">disabled</p>
      <section class="product-img">
        <img src="{{ item.image }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">{{item.name}}</p>
        <p class="cats">{{prodCatsList[i]}}</p>
      </section>
      @if (item.price !== 0) {
      <p class="price">${{item.price}}</p>
      } @else {
      <p class="price">Free</p>
      }
    </article>
    }
    } @empty {There are no items assigned to this category}
  </div>
</main>