<app-navbar></app-navbar>

@if (showForm) {
<app-product-form></app-product-form>
}

<main class="main">
  <article class="category">
    <section class="cat-info">
      <h2>{{category.name}}</h2>
      <p>{{category.description}}</p>
    </section>
    <section class="filters">
      <button>
        Filter <span><fa-icon [icon]="filterCaret"></fa-icon></span>
      </button>
      <button>
        Sort by <span><fa-icon [icon]="filterCaret"></fa-icon></span>
      </button>
    </section>
  </article>

  <div class="products">
    @if (role === 'administrator') {
    <button class="add-btn" (click)="addProduct()">
      New product
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
    }

    @for (item of productsList; track item.id; let i = $index) {
    <article class="wrapper" [routerLink]="['/product']">
      <section class="product-img">
        <img src="{{ item.image }}" alt="" />
      </section>
      <section class="product-info">
        <p class="title">{{item.name}}</p>
        <p class="cats">{{prodCatsList[i]}}</p>
      </section>
      <p class="price">{{item.price}}</p>
    </article>
    } @empty {There are no items assigned to this category}
  </div>
</main>