<div id="container">

    @if (activeForm) {
    <app-new-password></app-new-password>
    } @else {
    <div id="inner">
        <img src="../../../assets\Logo.png" alt="" id="logo">
        <h1 id="title">Change Password</h1>
        <p>Please enter your email address</p>
        <form id="form">
            <input type="email" name="email" [(ngModel)]="email" (input)="validEmail()" placeholder="Enter your email">
            @if (error) {
            <p class="error">{{error}}</p>
            }
            <button type="button" (click)="changePassword()">Change Password</button>
        </form>
        <div id="links">
            <a [routerLink]="['/login']">Go back to Login</a>
        </div>
    </div>
    }
</div>