<div id="container">
    <div id="inner">
        <img src="../../../assets\Logo.png" alt="" id="logo">
        <h1 id="title">Change Password</h1>
        <p>Input the information required below</p>
        <form id="form">
            <input type="password" name="password" placeholder="New password">
            <input type="password" name="password2" placeholder="Confirm new password">
            <button type="button">Change Password</button>
        </form>
        <div id="links">
            <a [routerLink]="['/login']">Go back to Login</a>
        </div>
    </div>
</div>