<div class="container">
  <nav class="nav" #nav>
    <i class="navOpenBtn" (click)="openNav()"><fa-icon class="icon" [icon]="barsIcon"></fa-icon></i>
    <div class="logo-img" [routerLink]="['/']">
      <img src="../../../assets/LogoSinTexto.png" class="logo" />
      <h3 class="title">ByteBazaar</h3>
    </div>
    <ul class="nav-links">
      <i class="navCloseBtn" (click)="closeNav()">
        <fa-icon [icon]="xIcon"></fa-icon>
      </i>
      <li>
        <a [routerLink]="['/']" url="/"><fa-icon class="a-icon" [icon]="homeicon"></fa-icon>Home</a>
      </li>
      <li>
        <a [routerLink]="['/categories']" url="/categories"><fa-icon class="a-icon"
            [icon]="catIcon"></fa-icon>Categories</a>
      </li>
      <li>
        <a [routerLink]="['/aboutUs']" url="/aboutUs"><fa-icon class="a-icon" [icon]="aboutIcon"></fa-icon>About us</a>
      </li>
      @if (rol === 'salesAgent') {
      <li>
        <a [routerLink]="['/agentChat']" url="/agentChat"><fa-icon class="a-icon" [icon]="chatIcon"></fa-icon>Chats</a>
      </li>
      }
      <li class="login-menu">
        @if (!loginStatus) {
        <a class="log-button" id="logIn" [routerLink]="['/login']">Log in</a>
        } @else {
        <button class="log-button" id="logOut" (click)="logOut()">
          log Out
        </button>
        }
      </li>
    </ul>

    @switch (rol) { @case ('administrator') {
    <h3 class="title">Administrator</h3>
    } @case ('salesAgent') {
    <h3 class="title">Sales Agent</h3>
    } }
    <div class="icons">
      <i class="search-icon" id="searchIcon" #searchIcon (click)="toggleSearch()">
        <fa-icon class="icon" [icon]="loupeIcon"></fa-icon>
      </i>
      @if (rol === 'client') {
      @if (disableCartButton()) {
      <i class=".cart-icon"><fa-icon class="icon" [icon]="cartIcon" url="/cart"></fa-icon></i>
      } @else {
      <i class=".cart-icon" (click)="switchCartStatus(); getCartItems()"><fa-icon class="icon" [icon]="cartIcon"
          url="/cart"></fa-icon></i>
      }
      }
      <div class="login-bar">
        @if (!loginStatus) {
        <a class="log-button" id="logIn" [routerLink]="['/login']">Log in</a>
        } @else {
        <button class="log-button" id="logOut" (click)="logOut()">
          log Out
        </button>
        }
      </div>
    </div>
    <div class="search-box">
      <i class="search-icon"><fa-icon class="icon" [icon]="loupeIcon"></fa-icon></i>
      <input type="text" placeholder="Search here..." />
    </div>
  </nav>
  @if (cartStatus) {
  <aside class="lateralCart">
    <article class="cartArticle cartHeader">
      <i id="xMark" (click)="cartStatus = false"><fa-icon class="btnIcon" [icon]="xIcon"></fa-icon></i>
      <h1 class="cartTitle">Your Cart</h1>
      <button type="button" class="btn" id="btnGoCart" [routerLink]="['/cart']" (click)="switchCartStatus()">
        Go to cart
      </button>
      <p class="CartText"><b>Subtotal: ${{subtotal}}</b></p>
      <button type="button" id="btnRefresh" class="btn" (click)="getCartItems()">
        <fa-icon class="btnIcon" [icon]="refreshIcon"></fa-icon>
      </button>
    </article>
    @for (item of cartItems; track item.id) {
    <article class="cartArticle cartItem">
      <img class="productImg" src="{{item.image}}" (click)="goToProduct(item.name)" />
      <p class="text prName" (click)="goToProduct(item.name)">
        <b>{{item.name}}</b>
      </p>
      <p class="CartText">${{item.price}}</p>
      <div>
        <p class="CartText">Quantity: {{item.CartProduct?.quantity}}</p>
        <button type="button" class="btnDelete" (click)="deleteItem(item.id!)">
          <fa-icon class="btnIcon" [icon]="trashIcon"></fa-icon>
        </button>
      </div>
    </article>
    } @empty {There are no items <br> added to your cart}
  </aside>
  } @if (rol === 'client' || rol === null) {
  <app-chatbox></app-chatbox>
  }
</div>