.main {
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(5px);

}

.container {
    position: relative;
    padding: 40px;
    /* width: 80%; */
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
}


img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.input {
    border: none;
    border-bottom: 1px solid #55D555;
    margin-bottom: 5px;
    font-size: medium;

}

.email {
    text-align: center;
}

.input:focus {
    outline: none;
}

.input-container {
    display: flex;
    gap: 20px;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.error {
    color: #e21010;
    text-align: center;
}

.btn {
    width: 90px;
    padding: 10px;
    border: unset;
    border-radius: 5px;
    background-color: #057FD7;
    color: #ffff;
    border-color: #ffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all .5s ease;
}


.btnCancel {
    background-color: #e21010;
    color: #ffff;
}

.btn:hover {
    background-color: #55D555;
    transform: scale(1.05);
    cursor: pointer;
}

.btnCancel:hover {
    background-color: #e21010;
}

.disabled {
    background-color: #47525E;
}

.disabled:hover {
    cursor: not-allowed;
    background-color: #47525E;
    transform: none;
}

.label-container {
    display: flex;
    flex-direction: column;
}

#uploadBtn {
    display: none;
}

.img-container {
    position: relative;
}

#uploadLabel {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.fileIcon {
    position: absolute;
    bottom: 5px;
    left: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: #057FD7;
    transition: all .5s ease;
}

.fileMessage {
    display: none;
    transition: all .5s ease;
}

.fileMessage fa-icon {
    font-size: 30px;
    margin-bottom: -5px;
}

#uploadLabel:hover {
    background-color: #55555588;

    .fileIcon {
        transform: scale(1);
        background-color: #55D555;
    }

    .fileMessage {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: #1a1a1a;
        font-weight: bold;
    }
}