<main>
    <section class="carousel">
        <app-carousel></app-carousel>
    </section>

    <section class="products">

        <section class="category">
            <h2 class="catTitle">Best Seller</h2>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>
        </section>

        <section class="category">
            <h2 class="catTitle">Games</h2>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>

            <div class="wrapper">
                <div class="product-img">
                    <img src="../../../assets\Logo.png" class="icon">
                </div>
                <div class="product-info">
                    <p class="prname">Microsoft Office</p>
                    <p class="prdetails">Microsoft | Productivity</p>
                    <p class="price">$99.99</p>
                </div>
            </div>
        </section>

    </section>
</main>