main {
    position: relative;
    top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.carousel {
    border-radius: 15px;
    width: 100%;
}



.products {
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.category {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px 0px;
    max-width: 1500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.catTitle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: #1A2A5A;
    transition: all .5s ease;
}

.catTitle:hover {
    cursor: pointer;
    color: #55D555;
    transform: scale(1.05);
}


/* cards */
.wrapper {
    margin: 10px;
    background-color: #ffffff;
    width: 450px;
    min-width: 370px;
    height: auto;
    padding: 10px;
    /* border: 1px solid #057FD7; */
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    transition: all .5s ease;
}

.wrapper:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 32px 0px rgba(5, 127, 215, 0.5);
    transform: scale(1.05);
}

.product-img {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img {
    width: 100px;
}

.product-info {
    height: fit-content;
    padding-left: 20px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.product-info h1 {
    color: #47525E;
    font-size: 40px;
}

.product-info h2 {
    font-size: 30px;
    color: #47525E;
    letter-spacing: 0.2em;
}

.price {
    margin-top: 10px;
    display: inline-block;
    align-self: self-end;
    color: #47525E;
}

#flex {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 3px
}

.prname {
    color: #47525E;
    font-weight: bold;
    font-size: x-large;
}

.prdetails {
    color: #47525E;
    font-size: large
}