<app-navbar></app-navbar>
<main>
  <article class="carousel">
    <app-carousel></app-carousel>
  </article>

  <article class="products">
    <section class="category">
      <h2 class="catTitle">Best Seller <fa-icon class="icon" [icon]="arrow"></fa-icon></h2>

      <article class="wrapper" [routerLink]="['/product']">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>
    </section>

    <section class="category">
      <h2 class="catTitle">Games <fa-icon class="icon" [icon]="arrow"></fa-icon></h2>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>

      <article class="wrapper">
        <div class="product-img">
          <img src="../../../assets\Logo.png" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">Microsoft Office</p>
          <p class="prdetails">Microsoft | Productivity</p>
          <p class="price">$99.99</p>
        </div>
      </article>
    </section>
  </article>
</main>