<app-navbar></app-navbar>
<main>
  <article class="carousel">
    <app-carousel></app-carousel>
  </article>

  <article class="products">
    <section class="category">
      <h2 id="bestSellers" class="catTitle" (click)="openBestSellers()">
        Best Sellers <fa-icon class="icon" [icon]="arrow"></fa-icon>
      </h2>

      @for (item of bestSellers; track item.id) {
      <article class="wrapper" (click)="openProduct(item.name)">
        <div class="product-img">
          <img src="{{item.image}}" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">{{item.name}}</p>
          <p class="prdetails">{{item.provider}} | {{item.categories}}
          </p>
          @if (item.price !== 0) {
          <p class="price">{{item.price}} USD</p>
          } @else {
          <p class="price">Free</p>
          }
        </div>
      </article>
      }
    </section>

    <section class="category">
      <h2 class="catTitle" (click)="openCategory(Cat1.id!)">
        Computer <fa-icon class="icon" [icon]="arrow"></fa-icon>
      </h2>

      @for (item of prodsByCat1; track item.id) {
      <article class="wrapper" (click)="openProduct(item.name)">
        <div class="product-img">
          <img src="{{item.image}}" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">{{item.name}}</p>
          <p class="prdetails">{{item.provider}} | {{item.categories}}
          </p>
          @if (item.price !== 0) {
          <p class="price">{{item.price}} USD</p>
          } @else {
          <p class="price">Free</p>
          }
        </div>
      </article>
      }
    </section>

    <section class="category" (click)="openCategory(Cat2.id!)">
      <h2 class="catTitle">
        Smartphone <fa-icon class="icon" [icon]="arrow"></fa-icon>
      </h2>

      @for (item of prodsByCat2; track item.id) {
      <article class="wrapper" (click)="openProduct(item.name)">
        <div class="product-img">
          <img src="{{item.image}}" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">{{item.name}}</p>
          <p class="prdetails">{{item.provider}} | {{item.categories}}
          </p>
          @if (item.price !== 0) {
          <p class="price">{{item.price}} USD</p>
          } @else {
          <p class="price">Free</p>
          }
        </div>
      </article>
      }
    </section>

    <section class="category">
      <h2 class="catTitle" (click)="openCategory(Cat3.id!)">
        Tablet <fa-icon class="icon" [icon]="arrow"></fa-icon>
      </h2>

      @for (item of prodsByCat3; track item.id) {
      <article class="wrapper" (click)="openProduct(item.name)">
        <div class="product-img">
          <img src="{{item.image}}" class="icon" />
        </div>
        <div class="product-info">
          <p class="prname">{{item.name}}</p>
          <p class="prdetails">{{item.provider}} | {{item.categories}}
          </p>
          @if (item.price !== 0) {
          <p class="price">{{item.price}} USD</p>
          } @else {
          <p class="price">Free</p>
          }
        </div>
      </article>
      }
    </section>
  </article>
</main>