<div id="container">
    <div id="inner">
        <h1 id="title">Add new product</h1>
        <p>Input the information required below</p>
        @if (!formStatus) {
        <span class="error">*There are missing or incorrect fields*</span>
        }
        <form id="form" [formGroup]="form">
            <article class="field">
                <input type="text" name="name" placeholder="Product name" formControlName="name" required
                    (change)="validateFields()">
                @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('name')?.hasError('pattern')) {
                <span class="error">*Invalid name*</span>
                }
            </article>
            <article class="field">
                <input type="number" name="stock" placeholder="Stock" formControlName="stock" required
                    (change)="validateFields()">
                @if (form.get('stock')?.hasError('required') && form.get('stock')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('stock')?.hasError('pattern')) {
                <span class="error">*stock must be a number between 8 and 10 characters*</span>
                }
            </article>
            <article class="field">
                <input type="number" name="price" placeholder="Price" formControlName="price" required
                    (change)="validateFields()">
                @if (form.get('price')?.hasError('required') && form.get('price')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('price')?.hasError('pattern')) {
                <span class="error">*price must include at least one letter, one digit and one special charater. The
                    minimum length is 8 characters*</span>
                }
            </article>
            <article class="field">
                <input type="text" name="categories" placeholder="Categories" formControlName="categories" required
                    (change)="validateFields()">
                @if (form.get('categories')?.hasError('required') && form.get('categories')?.touched) {
                <span class="error">*Required field*</span>
                }
            </article>
            <article class="field">
                <input type="text" name="provider" placeholder="Provider" formControlName="provider" required
                    (change)="validateFields()">
                @if (form.get('provider')?.hasError('required') && form.get('provider')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('provider')?.hasError('pattern')) {
                <span class="error">*This field only allows letters*</span>
                }
            </article>
            <article class="field">
                <input type="url" name="image" placeholder="Image URL" formControlName="image" required
                    (change)="validateFields()">
                @if (form.get('image')?.hasError('pattern')) {
                <span class="error">*This field only allows letters*</span>
                }
            </article>
            <article class="field">
                <input type="text" name="firstSurname" placeholder="First Surname" formControlName="firstSurname"
                    required (change)="validateFields()">
                @if (form.get('firstSurname')?.hasError('required') && form.get('firstSurname')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('firstSurname')?.hasError('pattern')) {
                <span class="error">*This field only allows letters*</span>
                }
            </article>
            <article class="field">
                <input type="text" name="secondSurname" placeholder="Second Surname" formControlName="secondSurname"
                    required (change)="validateFields()">
                @if (form.get('secondSurname')?.hasError('required') && form.get('secondSurname')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('secondSurname')?.hasError('pattern')) {
                <span class="error">*This field only allows letters*</span>
                }
            </article>

            @if (formStatus) {
            <button type="button" (click)="signUp()" class="btn">Sign Up</button>
            } @else {
            <button [disabled]="[true]" type="button" (click)="signUp()" class="btn disabled">Sign Up</button>
            }
        </form>
    </div>
</div>