<div id="container">
    <div id="inner">
        <h1 id="title">{{action}} product</h1>
        <p>Input the information required below</p>
        @if (!formStatus) {
        <span class="error">*There are missing or incorrect fields*</span>
        }
        <form id="form" [formGroup]="form">
            <article class="field input">
                <input type="text" name="name" placeholder="Product name" formControlName="name" required
                    (change)="validateFields()">
                @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
                <span class="error">*Required field*</span>
                }
            </article>
            <article class="field input">
                <input type="number" name="stock" placeholder="Stock" formControlName="stock" required
                    (change)="validateFields()">
                @if (form.get('stock')?.hasError('required') && form.get('stock')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('stock')?.hasError('pattern')) {
                <span class="error">*Stock must be greater than 0 and it cannot have decimals*</span>
                }
            </article>
            <article class="field input">
                <input type="number" name="price" placeholder="Price" formControlName="price" required
                    (change)="validateFields()">
                @if (form.get('price')?.hasError('required') && form.get('price')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('price')?.hasError('pattern')) {
                <span class="error">*Price must be a greater than 0. (Decimals are allowed)*</span>
                }
            </article>
            <article class="selectContainer field input">
                <div class="select-btn">
                    <span class="btn-text">Select Categories</span>
                    <span class="arrow-dwn">
                        <fa-icon [icon]="arrowIcon"></fa-icon>
                    </span>
                </div>
                @if (selectEmpty) {
                <span class="error">*Required field*</span>
                }

                <ul class="list-items">
                    @for (item of categoriesList; track item.id) {
                    <li class="item" id="item-{{item.id}}" (click)="checkItem('item-'+item.id)">
                        <span class="checkbox">
                            <fa-icon class="check-icon" [icon]="checkIcon"></fa-icon>
                        </span>
                        <span class="item-text">{{ item.name }}</span>
                    </li>
                    }
                </ul>
            </article>
            <article class="field input">
                <input type="text" name="provider" placeholder="Provider" formControlName="provider" required
                    (change)="validateFields()">
                @if (form.get('provider')?.hasError('required') && form.get('provider')?.touched) {
                <span class="error">*Required field*</span>
                }
            </article>
            <article class="field input">
                <input type="url" name="image" placeholder="Image URL" formControlName="image" required
                    (change)="validateFields()">
                @if (form.get('image')?.hasError('required') && form.get('image')?.touched) {
                <span class="error">*Required field*</span>
                }
                @if (form.get('image')?.hasError('pattern')) {
                <span class="error">*Invalid URL*</span>
                }
            </article>
            <article class="field textArea">
                <textarea formControlName="description" id="description" name="description" required
                    placeholder="Description" rows="10" maxlength="1000" (change)="validateFields()"></textarea>
                @if (form.get('description')?.hasError('required') && form.get('description')?.touched) {
                <span class="error">*Required field*</span>
                }
            </article>
            <article class="field textArea">
                <textarea formControlName="specs" id="specs" name="specs" required placeholder="Specs" rows="10"
                    maxlength="1000" (change)="validateFields()"></textarea>
                @if (form.get('specs')?.hasError('required') && form.get('specs')?.touched) {
                <span class="error">*Required field*</span>
                }
            </article>

            <section class="btns">
                <button type="button" class="btn btnCancel" (click)="goBack()">Cancel <fa-icon class="btnIcon"
                        [icon]="xIcon"></fa-icon>
                </button>
                @if (formStatus) {
                <button type="button" class="btn" (click)="saveData()">Save <fa-icon class="btnIcon"
                        [icon]="diskIcon"></fa-icon></button>
                } @else {
                <button [disabled]="[true]" type="button" class="btn disabled" (click)="saveData()">Save <fa-icon
                        class="btnIcon" [icon]="diskIcon"></fa-icon></button>
                }
            </section>
        </form>
    </div>
</div>