#carousel {
    border-radius: 15px;
}

.carousel {
    position: relative;
    max-width: 1500px;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#image {
    align-self: center;
    width: 1500px;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btnc {
    position: absolute;
    font-size: large;
    color: antiquewhite;
    background-color: #3a3a3a85;
    width: 60px;
    height: 53px;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border: 0.25rem solid transparent;
    border-radius: 50%;
}

.btnc:hover {
    background-color: #3a3a3a;
}

#goAhead {
    right: 2px;
}

@media (width <=1000px) {
    .carousel {
        height: 200px;
    }
}