<div class="container">
    <h1>Terms and conditions</h1>

    <ul>
        <li>
            <h2>1. Introduction</h2>
            <p>Welcome to Bytebazaar, an ecommerce dedicated to the sale of software and applications (hereinafter,
                "Services"). By accessing and using our website, you agree to comply with the following Terms and
                Conditions. If you do not agree to these terms, you must not use our Services.</p>
        </li>

        <li>
            <h2>2.Definitions</h2>
            <p>"We" refers to Bytebazaar.
                "User" means any person who accesses or uses our Services.
                "Products" means the software and applications available for purchase on our website.
            </p>
        </li>
        <li>
            <h2>3. Use of the Services</h2>
            <p>By using our Services, you agree to:
                Provide accurate and complete information when making a purchase.
                Do not use our Services for any illegal or unauthorized activity.
                Do not attempt to interfere with the operation of our website.
            </p>
        </li>
        <li>
            <h2>4. Purchases and Payments</h2>
            <p>All prices are in dollars.
                We accept the following payment methods: Bank card.
                By making a purchase, you authorize Bytebazaar to charge your selected payment method for the full
                amount of
                the purchase.
            </p>
        </li>
        <li>
            <h2>5. Software Licenses</h2>
            <p>By purchasing a Product, you obtain a limited, non-exclusive, non-transferable, revocable license to use
                the
                Product.
                Resale is not allowed,
                distribution or sublicense of the Products without the express consent of Bytebazaar.
            </p>
        </li>
        <li>
            <h2>6. Refund Policy</h2>
            <p>Refunds will only be given in exceptional circumstances, such as software defects that cannot be fixed.
                All refund requests must be made within 7 days of purchase.
            </p>
        </li>
        <li>
            <h2>7.Intellectual property</h2>
            <p>All Products and content available on our website are protected by copyright and other intellectual
                property
                rights.
                Use of any content on our website is not permitted without the prior written permission of Bytebazaar.
            </p>
        </li>
        <li>
            <h2>8. Limitation of Liability</h2>
            <p>Bytebazaar shall not be liable for any indirect, incidental, special or consequential damages resulting
                from
                the use or inability to use our Products.
                Our total liability in relation to any Product will not exceed the amount paid for the Product.
            </p>
        </li>
        <li>
            <h2>9. Modifications to the Terms and Conditions</h2>
            <p>We reserve the right to modify these Terms and Conditions at any time. Any changes will be effective
                immediately upon posting on our website.
                It is your responsibility to regularly review these Terms and Conditions to be aware of any changes.</p>
        </li>
    </ul>
</div>