<app-navbar></app-navbar>
<main>
    <h1>Shopping Cart</h1>
    <div class="content">
        <article class="cartItems">
            <ul class="itemsList">
                @for (item of cartItems; track item.id) {
                @if (item.status) {
                <li class="cartItem">
                    <img class="productImg" src="{{item.image}}" (click)="goToProduct(item.name!)">
                    <section class="productInfo">
                        <p class="productName" (click)="goToProduct(item.name!)"><b>{{item.name}}</b></p>
                        @if (item.stock > 0) {
                        <p class="stock">In Stock</p>
                        } @else {
                        <p class="NoStock">Out of Stock</p>
                        }
                        <p class="provider"><b>Provider:</b> {{item.provider}}</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            @if (getQuantity(item.id!) === 1) {
                            <i (click)="modifyQuantity(item.id!, item.stock!, false, $index)"><fa-icon
                                    id="minusBtn-{{item.id}}" class="btnQty disabled" [icon]="minusIcon"></fa-icon></i>
                            } @else {
                            <i (click)="modifyQuantity(item.id!, item.stock!, false, $index)"><fa-icon
                                    id="minusBtn-{{item.id}}" class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            }
                            <p id="quantityVal-{{item.id}}" class="quantityVal">{{item.CartProduct?.quantity}}</p>
                            @if (getQuantity(item.id!) === item.stock) {
                            <i (click)="modifyQuantity(item.id!, item.stock!, true, $index)"><fa-icon
                                    id="plusBtn-{{item.id}}" class="btnQty disabled" [icon]="plusIcon"></fa-icon></i>
                            } @else {
                            <i (click)="modifyQuantity(item.id!, item.stock!, true, $index)"><fa-icon
                                    id="plusBtn-{{item.id}}" class="btnQty" [icon]="plusIcon"></fa-icon></i>
                            }
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete" (click)="deleteItem(item.id!)">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        @if (item.stock === 0) {
                        <button type="button" class="btn disabled" id="btnBuy" [disabled]="[true]">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                        } @else {
                        <button type="button" class="btn" id="btnBuy" (click)="createOrder([cartItems[$index]])">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                        }
                    </section>
                    <p class="price"><b>${{item.price}}</b></p>
                </li>
                } @else {
                <li class="cartItem disable">
                    <p class="disable-text">This product is not available at the moment</p>
                    <img class="productImg" src="{{item.image}}">
                    <section class="productInfo">
                        <p class="productName" (click)="goToProduct(item.name!)"><b>{{item.name}}</b></p>
                        <p class="provider"><b>Provider:</b> {{item.provider}}</p>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete" (click)="deleteItem(item.id!)">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>${{item.price}}</b></p>
                </li>
                }
                } @empty {There are no items added to your cart}
            </ul>
        </article>
        <aside class="summary">
            <h2 class="summaryTit">Purchase Summary</h2>
            <div class="costs">
                <div>
                    <p class="costElem">Products({{cartItems.length}}):</p>
                    <p class="costElem">Aditional costs:</p>
                </div>
                <div>
                    <p class="costElem">${{summary.totProds.toFixed(2)}}</p>
                    <p class="costElem">${{summary.adCosts}}</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="total">
                <p class="totalElem">Total:</p>
                <p class="totalElem">${{(summary.totProds + summary.adCosts).toFixed(2)}}</p>
            </div>
            @if (cartItems.length === 0){
            <button type="button" class="btn disabled" id="btnCheckout" [disabled]="[true]">
                Checkout <fa-icon class="btnIcon" [icon]="cartIcon"></fa-icon>
            </button>
            } @else {
            <button type="button" class="btn" id="btnCheckout" (click)="checkout()">
                Checkout <fa-icon class="btnIcon" [icon]="cartIcon"></fa-icon>
            </button>
            }
        </aside>
    </div>

</main>