<app-navbar></app-navbar>
<main>
    <div class="content">
        <article class="cartItems">
            <h1>Shopping Cart</h1>
            <ul class="itemsList">
                <li class="cartItem">
                    <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
                    <section class="productInfo">
                        <p class="productName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
                        <p class="stock">In Stock</p>
                        <p class="provider"><b>Provider:</b> Microsoft</p>
                        <p class="categories"><b>Categories:</b> Productivity</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            <i><fa-icon class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            <p class="quantityVal">1</p>
                            <i><fa-icon class="btnQty" [icon]="plusIcon"></fa-icon></i>
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn" id="btnBuy">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>$99.99</b></p>
                </li>
                <li class="cartItem">
                    <img class="productImg" src="/../../../assets\Logo.png">
                    <section class="productInfo">
                        <p class="productName"><b>Spotify</b></p>
                        <p class="stock">In Stock</p>
                        <p class="provider"><b>Provider:</b> Spotify</p>
                        <p class="categories"><b>Categories:</b> Music</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            <i><fa-icon class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            <p class="quantityVal">2</p>
                            <i><fa-icon class="btnQty" [icon]="plusIcon"></fa-icon></i>
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn" id="btnBuy">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>$9.98</b></p>
                </li>
                <li class="cartItem">
                    <img class="productImg" src="/../../../assets\Logo.png">
                    <section class="productInfo">
                        <p class="productName"><b>Angry Birds</b></p>
                        <p class="stock">In Stock</p>
                        <p class="provider"><b>Provider:</b> Rovio Ent</p>
                        <p class="categories"><b>Categories:</b> Games</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            <i><fa-icon class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            <p class="quantityVal">1</p>
                            <i><fa-icon class="btnQty" [icon]="plusIcon"></fa-icon></i>
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn" id="btnBuy">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>$6.99</b></p>
                </li>
                <li class="cartItem">
                    <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
                    <section class="productInfo">
                        <p class="productName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
                        <p class="stock">In Stock</p>
                        <p class="provider"><b>Provider:</b> Microsoft</p>
                        <p class="categories"><b>Categories:</b> Productivity</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            <i><fa-icon class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            <p class="quantityVal">1</p>
                            <i><fa-icon class="btnQty" [icon]="plusIcon"></fa-icon></i>
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn" id="btnBuy">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>$99.99</b></p>
                </li>
                <li class="cartItem">
                    <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
                    <section class="productInfo">
                        <p class="productName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
                        <p class="stock">In Stock</p>
                        <p class="provider"><b>Provider:</b> Microsoft</p>
                        <p class="categories"><b>Categories:</b> Productivity</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            <i><fa-icon class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            <p class="quantityVal">1</p>
                            <i><fa-icon class="btnQty" [icon]="plusIcon"></fa-icon></i>
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn" id="btnBuy">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>$99.99</b></p>
                </li>
                <li class="cartItem">
                    <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
                    <section class="productInfo">
                        <p class="productName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
                        <p class="stock">In Stock</p>
                        <p class="provider"><b>Provider:</b> Microsoft</p>
                        <p class="categories"><b>Categories:</b> Productivity</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            <i><fa-icon class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            <p class="quantityVal">1</p>
                            <i><fa-icon class="btnQty" [icon]="plusIcon"></fa-icon></i>
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn" id="btnBuy">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>$99.99</b></p>
                </li>
                <li class="cartItem">
                    <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
                    <section class="productInfo">
                        <p class="productName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
                        <p class="stock">In Stock</p>
                        <p class="provider"><b>Provider:</b> Microsoft</p>
                        <p class="categories"><b>Categories:</b> Productivity</p>
                        <div class="quantity">
                            <p class="quantityLbl"><b>Quantity:</b></p>
                            <i><fa-icon class="btnQty" [icon]="minusIcon"></fa-icon></i>
                            <p class="quantityVal">1</p>
                            <i><fa-icon class="btnQty" [icon]="plusIcon"></fa-icon></i>
                        </div>
                    </section>
                    <section class="actions">
                        <button type="button" class="btn btnDelete">
                            Delete <fa-icon class="deleteIcon" [icon]="trashIcon"></fa-icon>
                        </button>
                        <button type="button" class="btn" id="btnBuy">
                            Buy <fa-icon class="btnIcon" [icon]="bagIcon"></fa-icon>
                        </button>
                    </section>
                    <p class="price"><b>$99.99</b></p>
                </li>
            </ul>
        </article>
        <aside class="summary">
            <h2 class="summaryTit">Purchase Summary</h2>
            <div class="costs">
                <div>
                    <p class="costElem">Products(3):</p>
                    <p class="costElem">AditionalCosts:</p>
                </div>
                <div>
                    <p class="costElem">$116.96</p>
                    <p class="costElem">$0</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="total">
                <p class="totalElem">Total:</p>
                <p class="totalElem">$116.96</p>
            </div>
            <button type="button" class="btn" id="btnCheckout">
                Checkout <fa-icon class="btnIcon" [icon]="cartIcon"></fa-icon>
            </button>
        </aside>
    </div>

</main>