@if (show) {
<aside class="lateralCart">
    <article class="header">
        <i id="xMark" (click)="hideCart()"><fa-icon class="btnIcon" [icon]="xMark"></fa-icon></i>
        <h1>Your Cart</h1>
        <button type="button" class="btn" id="btnGoCart" [routerLink]="['/cart']">Go to cart</button>
        <p class="text"><b>Subtotal: $106.98</b></p>
    </article>
    <article class="cartItem">
        <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
        <p class="text prName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
        <p class="text">$99.99</p>
        <div>
            <p class="text">Quantity: 1</p>
            <button type="button" class="btnDelete"><fa-icon class="btnIcon" [icon]="trashIcon"></fa-icon>
            </button>
        </div>
    </article>
    <article class="cartItem">
        <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
        <p class="text prName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
        <p class="text">$99.99</p>
        <div>
            <p class="text">Quantity: 1</p>
            <button type="button" class="btnDelete"><fa-icon class="btnIcon" [icon]="trashIcon"></fa-icon>
            </button>
        </div>
    </article>
    <article class="cartItem">
        <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
        <p class="text prName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
        <p class="text">$99.99</p>
        <div>
            <p class="text">Quantity: 1</p>
            <button type="button" class="btnDelete"><fa-icon class="btnIcon" [icon]="trashIcon"></fa-icon>
            </button>
        </div>
    </article>
    <article class="cartItem">
        <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
        <p class="text prName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
        <p class="text">$99.99</p>
        <div>
            <p class="text">Quantity: 1</p>
            <button type="button" class="btnDelete"><fa-icon class="btnIcon" [icon]="trashIcon"></fa-icon>
            </button>
        </div>
    </article>
    <article class="cartItem">
        <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
        <p class="text prName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
        <p class="text">$99.99</p>
        <div>
            <p class="text">Quantity: 1</p>
            <button type="button" class="btnDelete"><fa-icon class="btnIcon" [icon]="trashIcon"></fa-icon>
            </button>
        </div>
    </article>
    <article class="cartItem">
        <img class="productImg" src="/../../../assets\Logo.png" [routerLink]="['/product']">
        <p class="text prName" [routerLink]="['/product']"><b>Microsoft Office</b></p>
        <p class="text">$99.99</p>
        <div>
            <p class="text">Quantity: 1</p>
            <button type="button" class="btnDelete"><fa-icon class="btnIcon" [icon]="trashIcon"></fa-icon>
            </button>
        </div>
    </article>
</aside>
}