<app-navbar></app-navbar>

@if (showForm) {
<app-product-form></app-product-form>
}

<main>
    <article class="basicInfo block">
        <div id="summary">
            <div>
                <h1 id="productName">{{product.name}}</h1>
                <p id="provider">{{product.provider}}</p>
                @if (product.stock === 0) {
                <p id="stock" class="NoStock">Out of Stock</p>
                } @else {
                <p id="stock">Stock: {{product.stock}}</p>
                }
            </div>
            @if (product.totalReviews > 0) {
            <article class="score">
                <div>
                    <span id="score">{{product.score}}</span>
                    <span id="numReviews">{{product.totalReviews}} reviews</span>
                </div>
                <ngx-charts-bar-horizontal [view]="[200, 100]" [scheme]="colorScheme" [results]="scoreCounting"
                    [gradient]="false" [xAxis]="false" [yAxis]="true" [legend]="false" [showXAxisLabel]="false"
                    [showYAxisLabel]="false" [tooltipDisabled]="true">
                </ngx-charts-bar-horizontal>
            </article>
            }
            <div id="lowerInfo">
                @if (product.price !== 0) {
                <span id="price">{{product.price}} USD</span>
                } @else {
                <span id="price">Free</span>
                }
                @if (role === 'client') {
                <!-- <button type="button" class="btn" (click)="buyProduct()">
                    Buy <fa-icon class="btnIcon" [icon]="bag"></fa-icon>
                </button> -->
                }
            </div>
        </div>
        <div id="img">
            <img id="productImg" src="{{product.image}}">

            <div id="buttons">
                @if (role === 'client'){
                <i id="fav" (click)="addToWishlist()">
                    <fa-icon id="favIcon" [icon]="addToWishlistIcon"></fa-icon>
                </i>
                }
                @if (role === 'administrator') {
                @if (!product.status) {
                <button type="button" class="btn btnEnable" (click)="enableProduct()">
                    Enable <fa-icon class="enableIcon btnIcon" [icon]="enableIcon"></fa-icon>
                </button>
                <button type="button" class="btn btnDelete" (click)="deleteProduct()">
                    Delete <fa-icon class="deleteIcon btnIcon" [icon]="trashIcon"></fa-icon>
                </button>
                } @else {
                <button type="button" class="btn btnDelete" (click)="desableProduct()">
                    Disable <fa-icon class="deleteIcon btnIcon" [icon]="desableIcon"></fa-icon>
                </button>
                }
                <button type="button" class="btn" id="btnEdit" (click)="editProduct()">
                    Edit <fa-icon class="btnIcon" [icon]="editIcon"></fa-icon>
                </button>
                } @else {
                @if (role === 'client') {
                <button type="button" class="btn" (click)="addToCart()">
                    Add <fa-icon class="btnIcon" [icon]="cart"></fa-icon>
                </button>
                }
                }
            </div>

        </div>
    </article>
    <article class="aditionalInfo block">
        <section class="infoItem">
            <h2 class="itemTitle">Categories</h2>
            <div class="line"></div>
            <div class="elements">
                @for (item of productCats; track $index) {
                <article class="element" (click)="showCategory(item)">{{item}}</article>
                }
            </div>
        </section>
        <section class="infoItem">
            <h2 class="itemTitle">Platforms</h2>
            <div class="line"></div>
            <div class="elements">
                @for (item of productPlats; track $index) {
                <article class="element" (click)="showCategory(item)">
                    @switch (item) {
                    @case ('Computer') {
                    <fa-icon class="icon" [icon]="pc"></fa-icon>
                    }
                    @case ('Smartphone') {
                    <fa-icon class="icon" [icon]="phone"></fa-icon>
                    }
                    @case ('Tablet') {
                    <fa-icon class="icon" [icon]="tablet"></fa-icon>
                    }
                    }
                    {{item}}
                </article>
                }
            </div>
        </section>
        <section class="infoItem">
            <h2 class="itemTitle">Description</h2>
            <div class="line"></div>
            <p>{{product.description}}</p>
        </section>
        <section class="infoItem">
            <h2 class="itemTitle">Specs</h2>
            <div class="line"></div>
            <div class="specs">
                @for (item of productSpecs; track $index) {
                @if (newSpecRegex.test(item)) {
                <br>
                }
                <p>{{item}}</p>
                }
            </div>
        </section>
        <section class="infoItem">
            <h2 class="itemTitle">Reviews</h2>
            <div class="line"></div>
            <div id="reviewsContainer">
                <section class="reviewsHeader">
                    @if (product.totalReviews > 0) {
                    <article class="score" id="scoreReviewsSection">
                        <div>
                            <span id="score">{{product.score}}</span>
                            <span id="numReviews">{{product.totalReviews}} reviews</span>
                        </div>
                        <ngx-charts-bar-horizontal [view]="[800, 265]" [scheme]="colorScheme" [results]="scoreCounting"
                            [gradient]="false" [xAxis]="false" [yAxis]="true" [legend]="false" [showXAxisLabel]="false"
                            [showYAxisLabel]="false" [tooltipDisabled]="true">
                        </ngx-charts-bar-horizontal>
                    </article>
                    }
                    @if(role === 'client'){
                    <article class="review" id="myReview">
                        <section class="myInfo">
                            <div class="clientImg">
                                <i class="userIcon">
                                    <fa-icon id="userIcon" [icon]="userIcon"></fa-icon>
                                </i>
                                <span class="clientName">Your review</span>
                            </div>
                            @if(myReview){
                            <div class="reviewActions">
                                <i class="reviewIcon" (click)="onDeleteClick()"><fa-icon id="deleteIcon"
                                        [icon]="trashIcon"></fa-icon></i>
                                <i class="reviewIcon" (click)="onUpdateClick()"><fa-icon id="editIcon"
                                        [icon]="editIcon"></fa-icon></i>
                            </div>
                            }
                        </section>
                        @if (reviewForm) {
                        <app-review-form id="reviewForm" [isCreateMode]="isCreateMode"
                            (formEvent)="handleReviewFormEvent($event)"></app-review-form>
                        } @else {
                        <section class="reviewInfo">
                            @if (myReview) {
                            <div>
                                <span id="reviewScore">Score: {{myReview.score ? myReview.score : 0}}</span>
                                <span id="reviewDate">{{myReview.createdAt ? myReview.createdAt.substring(0,10) :
                                    '0000-00-00'}}</span>
                            </div>
                            <p class="reviewComment">
                                {{myReview.comment ? myReview.comment : ''}}
                            </p>
                            } @else {
                            <div>
                                <span id="reviewScore">Score: {{0}}</span>
                                <span id="reviewDate">{{'0000-00-00'}}</span>
                            </div>
                            <p class="reviewComment"></p>
                            }
                        </section>
                        }
                    </article>
                    }
                </section>
                <section class="reviews">
                    @for (item of reviews; track $index) {
                    <article class="review">
                        <section class="clientInfo">
                            <i class="userIcon">
                                <fa-icon id="userIcon" [icon]="userIcon"></fa-icon>
                            </i>
                            <span class="clientName">{{item.Client.Person.firstName + ' ' +
                                (item.Client.Person.secondName ?
                                item.Client.Person.secondName : '') + ' ' +
                                item.Client.Person.lastName1 + ' ' + (item.Client.Person.lastName2 ?
                                item.Client.Person.lastName2 : '')}}</span>
                        </section>
                        <section class="reviewInfo">
                            <div>
                                <span id="reviewScore">Score: {{item.score}}</span>
                                <span id="reviewDate">{{item.createdAt.substring(0,10)}}</span>
                            </div>
                            <p class="reviewComment">
                                {{item.comment}}
                            </p>
                        </section>
                    </article>
                    } @empty { <span>This product doesn't have reviews yet</span> }
                </section>
            </div>
        </section>
    </article>

</main>