<app-navbar></app-navbar>

@if (showForm) {
<app-product-form></app-product-form>
}

<main>
    <article class="basicInfo block">
        <div id="summary">
            <div>
                <h1 id="productName">{{product.name}}</h1>
                <p id="provider">{{product.provider}}</p>
                <p id="stock">Stock: {{product.stock}}</p>
            </div>
            <div id="lowerInfo">
                <p id="price">${{product.price}}</p>
                @if (role === 'client') {
                <button type="button" class="btn">
                    Buy <fa-icon class="btnIcon" [icon]="bag"></fa-icon>
                </button>
                }
            </div>
        </div>
        <div id="img">
            <img id="productImg" src="{{product.image}}">

            @if (role === 'administrator') {
            <button type="button" class="btn btnDelete" (click)="deleteProduct()">
                Delete <fa-icon class="deleteIcon btnIcon" [icon]="trashIcon"></fa-icon>
            </button>
            <button type="button" class="btn" id="btnEdit" (click)="editProduct()">
                Edit <fa-icon class="btnIcon" [icon]="editIcon"></fa-icon>
            </button>
            } @else {
            <button type="button" class="btn">
                Add <fa-icon class="btnIcon" [icon]="cart"></fa-icon>
            </button>
            }

        </div>
    </article>
    <article class="aditionalInfo block">
        <section class="infoItem">
            <h2 class="itemTitle">Categories</h2>
            <div class="line"></div>
            <div class="elements">
                @for (item of productCats; track $index) {
                <article class="element" (click)="showCategory(item)">{{item}}</article>
                }
            </div>
        </section>
        <section class="infoItem">
            <h2 class="itemTitle">Platforms</h2>
            <div class="line"></div>
            <div class="elements">
                @for (item of productPlats; track $index) {
                <article class="element" (click)="showCategory(item)">
                    @switch (item) {
                    @case ('Computer') {
                    <fa-icon class="icon" [icon]="pc"></fa-icon>
                    }
                    @case ('Smartphone') {
                    <fa-icon class="icon" [icon]="phone"></fa-icon>
                    }
                    @case ('Tablet') {
                    <fa-icon class="icon" [icon]="tablet"></fa-icon>
                    }
                    }
                    {{item}}
                </article>
                }
            </div>
        </section>
        <section class="infoItem">
            <h2 class="itemTitle">Description</h2>
            <div class="line"></div>
            <p>{{product.description}}</p>
        </section>
        <section class="infoItem">
            <h2 class="itemTitle">Specs</h2>
            <div class="line"></div>
            <div class="specs">
                @for (item of productSpecs; track $index) {
                @if (newSpecRegex.test(item)) {
                <br>
                }
                <p>{{item}}</p>
                }
            </div>
        </section>
    </article>

</main>