<div class="chatbox-wrapper">
  <div class="chatbox-toggle">
    <i><fa-icon [icon]="chatBoxIcon"></fa-icon></i>
  </div>
  <div class="button-container">
    <a href="https://wa.me/3145351114?text=Hi!!%20Bytebazaar%20i%20want%20more%20information%20about..."
      target="_blank">
      <i class="wpp"><fa-icon [icon]="whatsapp"></fa-icon></i>
    </a>
  </div>
  <div class="chatbox-message-wrapper">
    <div class="chatbox-message-header">
      <div class="chatbox-message-profile">
        <img
          src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="" class="chatbox-message-image" />
        <div>
          <h4 class="chatbox-message-name">Sales Agent</h4>
          <p class="chatbox-message-status">online</p>
        </div>
      </div>
    </div>
    <div class="chatbox-message-content" #chatboxMessageWrapper>
      <h4 class="chatbox-message-no-message" #chatboxNoMessage>
        You don't have message yet!
      </h4>
    </div>
    <div class="chatbox-message-bottom">
      <form class="chatbox-message-form" #chatboxForm>
        <textarea name="text-message" rows="1" placeholder="Type message..." class="chatbox-message-input"
          #textarea></textarea>
        <button type="submit" class="chatbox-message-submit">
          <i><fa-icon [icon]="sendIcon"></fa-icon></i>
        </button>
      </form>
    </div>
  </div>
</div>