#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner {
    background-color: #ffff;
    max-width: 700px;
    height: 80%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


#logo {
    width: 150px;
}

h1 {
    margin: 0;
    font-size: 2.3rem;
    letter-spacing: 0.06em;
    color: #47525E;
    font-weight: bold;
}

p {
    color: #8190A5;
    text-align: center;
}



#termsAndConditions {
    gap: 20px;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 600px;
}

#form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.field {
    max-width: 300px;
    display: flex;
    flex-direction: column;

}

.error {
    color: #e21010;
    text-align: center;
}

input,
.btn {
    margin-top: 10px;
    padding: 15px 30px;
    font-size: large;
}

input {
    border: 1px solid #4e4f5183;
    border-radius: 5px;
    background-color: transparent;
}

.btn {
    width: 280px;
    padding: 15px 20px;
    border: unset;
    border-radius: 5px;
    /* margin: 20px 0; */
    background-color: #057FD7;
    color: #ffff;
    border-color: #ffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all .5s ease;
}

.btn:hover {
    background-color: #55D555;
    color: #ffff;
    border-color: #ffff;
    transform: scale(1.05);
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #287CFF;
    transition: all .5s ease;
}

a:hover {
    color: #0e87bb;
    text-decoration: underline;
    cursor: pointer;
}

.disabled {
    background-color: #47525E;
}

.disabled:hover {
    cursor: not-allowed;
    background-color: #47525E;
    transform: none;
}